.flow-pane-styles {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.flow-pane-styles > .label {
    -fx-font-weight: bold;
}